Options +FollowSymlinks
RewriteEngine on

RewriteRule ^movie/list/$ index.php?view=all [NC,QSA]
RewriteRule ^movie/list/([0-9]+)/$ index.php?view=single&id=$1 [NC,QSA]
RewriteRule ^movie/type/([a-zA-ZáéíóöőúüűÁÉÍÓÚÜŰ]+)/$ index.php?view=tipus&tid=$1 [NC,QSA]
RewriteRule ^movie/.*$ index.php [NC,QSA]
